.noun-city-header
  height: 141px

  img
    position: absolute
    width: 940px
    z-index: -1
    
  h1 
    background: white
    margin-top: 31px
    padding: 20px 0px

  .pull-right 
    font-size: 18px
    font-weight: bold
    line-height: 54px