.form-search
  color: white
  font-size: 36px
  font-weight: bold
  float: right


  input 
    border: none
    border-bottom: 5px solid black
    border-radius: 0px
    box-shadow: none
    color: #000
    font-size: 36px
    font-weight: bold
    height: auto
    margin: 100px 0 0 0
    min-width: 100px
    opacity: 0.9
    padding: 15px
    transition: width 100ms linear
    vertical-align: 0px

    &:focus
      box-shadow: none

  button
    background: transparent
    border-width: 5px
    border-color: #fff
    border-radius: 0px
    color: white
    display: block
    font-weight: bold
    float: right
    letter-spacing: 1px
    margin: 20px 10px 20px 0px
    padding: 20px
    text-transform: uppercase

    &:hover
      color: #000
      background: #fff

.home-background
  left: 0
  position: absolute
  top: 123px
  width: 100%
  z-index: -1

  img
    position: fixed
    width: 100%