</div>
<div class="noun-city-header">
  <div class="interior" data-spy="affix" data-offset-top="98">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1><%= @noun.name %> <small>near <%= city %></small> <span class="pull-right"><%= @count %> answers</span></h1>
        </div>
      </div>
    </div>
  </div>
  <div id="map" class="noun-city-map"></div>
</div>
<div class="container">