<div class="row">
  <div class="span8">
    <h2><%= @noun.name %></h2>

    <p><%= @noun.description %></p>
    
  </div>
  <div class="span4">
    <div class="well well-small">
      <ul class="nav nav-list">
        <li class="nav-header">Cities</li>
        <% @noun.cities.each do |city| %>
          <li><%= link_to city.name, noun_city_path(@noun, city) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>