<%= form_tag "/search", method: "get", class: "form-search", autocomplete: "off" do %>
  <%= text_field_tag "noun", @noun.name %>
    <span class="in">in</span>
  <%= text_field_tag "city", session[:city] %>

  <button type="submit" class="btn btn-large">
    Search
  </button>
<% end %>

<div class="home-background">
  <%= image_tag @featured_image.path %>
</div>