<header class="page-header">
  <div class="row">
    <h1 class="span4">
      <a href="/">
        Catalo.gs
      </a>
    </h1>

    <div class="span4 offset4 login">
      <% if user_signed_in? %>
        <h4>
          <i class="icon-user"></i>
          <%= current_user.email %>
          <%= link_to "logout", destroy_user_session_path %>
        </h4>
      <% else %>
        <h4>
          <i class="icon-user"></i>
          <%= link_to "Login", new_user_session_path %>
        </h4>
      <% end %>
    </div>
  </div>
</header>